.container{
    margin-bottom: 100px;
}
#carouselExampleIndicators li{
    background-color: red;
}
.background{
    back;
}
.red{
    color: red;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 7px 7px lightgray;
}
.card-bag{
    box-shadow: 5px 5px 9px lightgray;
}
.cat{
    padding: 30px 45px;
    box-shadow: 5px 5px 15px lightgray;
}
.cat1{
    border-radius: 5px 5px 5px 25px;
}
.cat2, .cat3{
    border-radius: 5px 5px 25px 5px;